
html{
  font-family: 'Nunito', sans-serif;
}

a{
  text-decoration: none;
  Color: #d500f9;
}

a:hover{
  opacity: 0.8;
}

h1{
  text-align: center;
}


.title{
  text-transform: uppercase;
  text-align: center;
}




.container{
  background: #ef32d9; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef32d9, #89fffd); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef32d9, #89fffd);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.content{
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height:100%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  position: relative;
}

.actions{
  position: absolute;
  top:1em;
  right:1em;
}

.close{
height: 40px;
width: 40px;
color:white;
border-radius:50%;
background-color: #642B72;
display: inline-block;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
font-weight: 300;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
}







.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}

.fa-star{
  color:#ffc400;
}


.table{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){background-color: #ffb3d5;}

.title-item{
  -/*border-bottom-Style: solid;
  border-width: 2px;
  border-clor: #C6426E;*/
font-size: 2em;
border-bottom: #C6426E solid 2px;
padding-bottom:1em;}

.position{
  background-color: #C6426E;
  color: black;
  padding: 10px;
  border-radius: 4px;
}

.address{
  font-weight: bold;
  color: #C6426E;
  font-size: 1.2em;
}

.main-image{
  float: left;
  margin-right: 1em;
}



.numero {
  width: 30px;
height: 30px;
border-radius: 50%;
background-color: #C6426E;
color: black;
text-align: center;
line-height: 30px;
}
